<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>多类别分类</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h2>多类别分类</h2>

    <h4 th:utext="${msg}">hello world</h4>

    <!--仅在特定条件下显示-->
    <a th:href="@{/login}" th:unless="${msg != '123123'}">Login</a>

    <!--循环展示-->
    <table>
        <tr>
            <th>类别</th>
            <th>标题</th>
            <th>正文</th>
        </tr>
        <tr th:each="n : ${news}">
            <td th:text="${n.type}">type</td>
            <td><a th:href="${n.link}" th:text="${n.title}"></a></td>
            <td th:text="${n.content}">content</td>
        </tr>
    </table>


</body>
</html>